# Ignore configuration files that may contain sensitive information.
settings.local.php
local.drush.yml
local.site.yml
local.services.yml
tests/behat/local.yml
box/local.config.yml
*.local
local.blt.yml

# Ignore drupal core.
/web/install.txt
/web/core
/web/modules/README.txt
/web/profiles/README.txt
/web/sites/README.txt
/web/sites/example.sites.php
/web/sites/example.settings.local.php
/web/sites/default/default.settings.php
/web/sites/default/default.services.yml
/web/themes/README.txt
/web/.csslintrc
/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/.gitattributes
/web/.ht.router.php
/web/autoload.php
/web/composer.json
/web/composer.lock
/web/example.gitignore
/web/index.php
/web/LICENSE.txt
/web/README.txt
/web/README.md
/web/robots.txt
/web/update.php
/web/web.config
/private

# Ignore paths that contain user-generated content.
web/sites/*/files
/files-private
web/sites/*/private

# Ignore contrib modules. These should be created during build process.
web/modules/contrib
web/themes/contrib
web/profiles/contrib
web/libraries
drush/Commands

# Ignore custom theme build artifacts
web/themes/custom/*/node_modules
web/themes/custom/*/css
web/themes/custom/*/styleguide

# Ignore build artifacts
deployment_identifier
/deploy
bin/*
tmp
reports

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpathk

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# User-specific stuff:
.idea/

#XHProf
xhprof_*

#Composer vendor
vendor/
vendor/.git

#Sass
.sass-cache
*.css.map

#Netbeans IDE
nbproject
nbproject/*

# DrupalVM
.vagrant/

# DevDesktop
*.dd

#Exports
*.gz
*.sql
*.zip

# PHPStorm
atlassian-ide-plugin.xml

#NPM
npm-debug.log

# Drush 9 Checksums
drush/sites/.checksums

# Deprecation detector rules
.rules

# BLT 11.2.0 update to support simulated deploys
/travis_wait*

/json-server.log
/nohup.out
/node_modules
